body{
    font-size: medium;
    background-color:rgb(16,66,166);
}

li{
    color: whitesmoke;
    font-size: medium;
    background-color:rgb(16,66,166);
}
img{
    
}
h1{
    color: whitesmoke;
    font-size: medium;
   
}
p{
    color: whitesmoke;
    font-size: medium;
    background-color:rgb(16,66,166);
}
label{
    color:whitesmoke;
    font-size: medium;
    background-color:rgb(16,66,166);
}
    

